<div id="artist-search-results">
    {{#each items}}
    <div >
        <p><img src="{{images.1.url}}" alt={{name}}></p>
        <h4>{{name}}</h4>
        <a href="/albums/{{id}}" method="GET" name="artistId">View Albums</a>  
    </div>
    {{/each}}
</div>
    


